.logo {
  width: 120px;
  height: 48px;
}
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  height: 435px;
  width: 629px;
  left: 286px;
  top: 249px;
}

.botones {
  /* Frame 3 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 885px;

  /* Button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 328px;
  height: 67px;

  /* Dark blue/dark-blue-300 */
  background: #0a3871;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Button */

  width: 280px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;

  /* Button */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 328px;
  height: 67px;

  /* Light gray */
  background: #d8dfe8;
  /* Dark blue/dark-blue-300 */
  border: 1px solid #0a3871;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  /* Button */

  width: 280px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* Dark blue/dark-blue-300 */
  color: #0a3871;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.cuadro {
  /* Rectangle 1 */

  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;

  /* White */
  background: #ffffff;
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
/* Muñeco */

.muneco {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 1032px;
  top: 283px;
}

.cajatexto {
  /* Frame 5 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 336px;
  height: 122px;
  left: 1032px;
  top: 619px;
}
.error {
  /* Ningún mensaje fue encontrado */

  width: 336px;
  height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  text-align: center;

  /* Gray/gray-500 */
  color: #343a40;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.peti {
  /* Ingresa el texto que desees encriptar o desencriptar. */

  width: 336px;
  height: 48px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;

  /* Gray/gray-400 */
  color: #495057;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* Path: style.css */

.aclaraciones {
  /* Frame 1 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 229px;
  height: 18px;
  left: 240px;
  top: 851px;
}

.aclaraciones icon {
  /* bi:exclamation-circle-fill */

  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
